.input1 {
  width: 400px !important;
}

.input2 {
  width: 400px !important;
}

.button_register {
  background-color: #0b1f3f !important;
  height: 50px !important;
  font-size: 16px !important;
}

.button_sign_in {
  background-color: #0b1f3f !important;
  height: 50px !important;
  font-size: 16px !important;
}
